In [1]:
a = ['Hassan',20,'Hunain',3.82]
a

['Hassan', 20, 'Hunain', 3.82]

In [2]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#  METHODS FOR LIST

In [4]:
a.append('Great')
a

['Hassan', 20, 'Hunain', 3.82, 'Great', 'Great']

In [6]:
a.clear()
a

[]

In [7]:
a.copy()

[]

In [8]:
a

[]

In [9]:
a = ["Hassan",20,'Hunain',3.82]

In [12]:
a.count(20)

1

In [14]:
a.copy()

['Hassan', 20, 'Hunain', 3.82]

In [20]:
a.extend('Hunain')
a

['Hassan',
 20,
 'Hunain',
 3.82,
 'H',
 'u',
 'n',
 'a',
 'i',
 'n',
 'H',
 'u',
 'n',
 'a',
 'i',
 'n']

In [23]:
a.index(3.82)

3

In [25]:
a.insert(4,"Brilliant")
a

['Hassan',
 20,
 'Hunain',
 3.82,
 'Brilliant',
 'Brilliant',
 'H',
 'u',
 'n',
 'a',
 'i',
 'n',
 'H',
 'u',
 'n',
 'a',
 'i',
 'n']

In [26]:
a.pop(4)

'Brilliant'

In [30]:
a.remove(20)
a

['Hassan',
 'Hunain',
 3.82,
 'H',
 'u',
 'n',
 'a',
 'i',
 'n',
 'H',
 'u',
 'n',
 'a',
 'i',
 'n']

In [32]:
a.reverse()

In [33]:
a

['n',
 'i',
 'a',
 'n',
 'u',
 'H',
 'n',
 'i',
 'a',
 'n',
 'u',
 'H',
 3.82,
 'Hunain',
 'Hassan']

In [34]:
a.sort()

TypeError: '<' not supported between instances of 'float' and 'str'

In [35]:
a.clear
a=[78,69,107,79]
a

[78, 69, 107, 79]

In [36]:
a.sort()

In [37]:
a

[69, 78, 79, 107]

# ATTRIBUTES OF LIST

In [38]:
a = ['Hassan',20,"Hunain",3.82]

In [39]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [59]:
format(a)

"['Hassan', 20, 'Hunain', 3.82]"

In [61]:
iter(a)

In [62]:
len(a)

4

In [63]:
repr(a)

"['Hassan', 20, 'Hunain', 3.82]"

In [64]:
reversed(a)

In [71]:
str(a)

"['Hassan', 20, 'Hunain', 3.82]"

# TUPLE METHODS

In [72]:
a = ('Hassan',20,"Hunain",3.82)
a

('Hassan', 20, 'Hunain', 3.82)

In [73]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [74]:
a.count(3.82)

1

In [76]:
a.index(20)

1

# TUPLE ATTRIBUTES

In [77]:
a

('Hassan', 20, 'Hunain', 3.82)

In [78]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [80]:
format(a)

"('Hassan', 20, 'Hunain', 3.82)"

In [81]:
hash(a)

-5664300096751917422

In [82]:
str(a)

"('Hassan', 20, 'Hunain', 3.82)"

In [83]:
len(a)

4

In [84]:
iter(a)

# DICTIONARY CLASS METHODS

In [85]:
a = {'Name : M. Hassan','Father Name : Mumtaz Hussain','Age : 20', 'Course : AI', 'Centre : Sindh Boys Scout'}
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [86]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [87]:
a.add('Teacher : Sir Qasim')

In [88]:
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan',
 'Teacher : Sir Qasim'}

In [90]:
a.clear()

In [91]:
a

set()

In [92]:
a = {'Name : M. Hassan','Father Name : Mumtaz Hussain','Age : 20', 'Course : AI', 'Centre : Sindh Boys Scout'}

In [94]:
a.copy()

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [95]:
a.difference()

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [96]:
a.difference_update()

In [97]:
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [99]:
a.discard(3)

In [100]:
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [102]:
a.intersection('Age : 20')

set()

In [103]:
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [104]:
a.intersection_update()

In [105]:
a

{'Age : 20',
 'Centre : Sindh Boys Scout',
 'Course : AI',
 'Father Name : Mumtaz Hussain',
 'Name : M. Hassan'}

In [107]:
a.isdisjoint('Age : 20')

True

In [110]:
a.issubset('Age : 20')

False

In [111]:
a.issuperset('Age : 20')

False

In [113]:
a.pop()

'Father Name : Mumtaz Hussain'

In [115]:
a.remove('Centre : Sindh Boys Scout')

In [116]:
a

{'Age : 20', 'Course : AI', 'Name : M. Hassan'}

In [119]:
a.symmetric_difference('Course : AI')

{' ',
 ':',
 'A',
 'Age : 20',
 'C',
 'Course : AI',
 'I',
 'Name : M. Hassan',
 'e',
 'o',
 'r',
 's',
 'u'}

In [121]:
a.symmetric_difference_update('ABC')

In [122]:
a

{'A', 'Age : 20', 'B', 'C', 'Course : AI', 'Name : M. Hassan'}

In [125]:
a.union('D')

{'A', 'Age : 20', 'B', 'C', 'Course : AI', 'D', 'Name : M. Hassan'}

In [126]:
a.update('E')

In [127]:
a

{'A', 'Age : 20', 'B', 'C', 'Course : AI', 'E', 'Name : M. Hassan'}

# DICTIONARY CLASS ATTRIBUTES

In [128]:
a = {'Name : M. Hassan','Father Name : Mumtaz Hussain','Age : 20', 'Course : AI', 'Centre : Sindh Boys Scout'}

In [129]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [131]:
class(a)

SyntaxError: invalid syntax (<ipython-input-131-e60702db5f38>, line 1)

In [132]:
type(a)

set

# Sorry! I Was Just Mistaken And Performed "Set" Class For  "Dictionary" Class

AGAIN PERFORMING

DICTIONARY CLASS METHODS AND ATTRIBUTES

In [133]:
a = {'Name' : "Hassan" , 'Course' : "AI" , 'Centre' : "Sindh Boys Scout" , 'Age' : 20}

In [134]:
type(a)

dict

In [135]:
a

{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}

In [136]:
dir(a)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [137]:
format(a)

"{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}"

In [138]:
hash(a)

TypeError: unhashable type: 'dict'

In [139]:
iter(a)

In [140]:
repr(a)

"{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}"

In [141]:
str(a)

"{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}"

In [142]:
a.clear()

In [143]:
a

{}

In [144]:
a = {'Name' : "Hassan" , 'Course' : "AI" , 'Centre' : "Sindh Boys Scout" , 'Age' : 20}

In [147]:
a.copy()

{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}

In [148]:
a.fromkeys('ABC')

{'A': None, 'B': None, 'C': None}

In [149]:
a.get(20)

In [150]:
a

{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout', 'Age': 20}

In [151]:
a.items()

dict_items([('Name', 'Hassan'), ('Course', 'AI'), ('Centre', 'Sindh Boys Scout'), ('Age', 20)])

In [153]:
a.keys()

dict_keys(['Name', 'Course', 'Centre', 'Age'])

In [157]:
a.pop('Age', 20)

20

In [158]:
a

{'Name': 'Hassan', 'Course': 'AI', 'Centre': 'Sindh Boys Scout'}

In [160]:
a.popitem()

('Centre', 'Sindh Boys Scout')

In [161]:
a

{'Name': 'Hassan', 'Course': 'AI'}

In [163]:
a.setdefault('Name')

'Hassan'

In [169]:
a.update()

In [170]:
a

{'Name': 'Hassan', 'Course': 'AI'}

In [171]:
a.values()

dict_values(['Hassan', 'AI'])